# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg/

# Local development configuration
.env

# Virtual environment
venv/
venv*/

# IDE
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# System files
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Visual Studio Code directories
.vscode/
