{% set padding = 5 %}
<div style="color:rgb(0, 26, 30);background-color:rgb(231, 243, 245);border-color:rgb(184, 220, 226);position:relative;padding:12px 20px;margin-bottom:16px;border:0px solid rgb(184, 220, 226);border-radius:4px;box-sizing:border-box; width: 800px;">
    <div style="margin-bottom:7.5px;box-sizing:border-box;display:block;">
        {{ question.statement }}
    </div>
    <div style="box-sizing:border-box;text-align:center;">
        <div style="box-sizing:border-box;display:inline-block;position:relative;">
            <img src="{{ question.background }}" alt="Imagen de fondo para arrastrar marcadores dentro de este" style="width: 100% !important;max-width:100%;height: auto;vertical-align:middle;border-style:solid;box-sizing:border-box;border:1px solid rgb(0, 0, 0);margin: 0px auto;" />
            <div style="box-sizing:border-box;position:absolute;top:0px;left:0px;">
            {% for choice, drop in question.drops.items() %}
                {% set drag = question.drags[choice] %}
                {% set maxsize = question.draggroups_size[drag.draggroup] %}
                {% set width = maxsize.width + padding * 2 %}
                {% set height = maxsize.height + padding * 2 %}    
                <div tabindex="0" style="width: {{width}}px; height: {{height}}px; left: {{ drop.xleft }}px; top: {{ drop.ytop }}px; transform: scale(1); transform-origin: left top;transform:matrix(1, 0, 0, 1, 0, 0);transform-origin:0px 0px;box-sizing:border-box;background-color:rgb(255, 255, 255);display:block;position:absolute;opacity:0.5;border:1px solid rgb(0, 0, 0);">
                    <span style="position:absolute;width: 1px;height:1px;padding:0px;margin:-1px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);white-space:nowrap;border:0px none rgb(0, 26, 30);box-sizing:border-box;">vacío</span>&nbsp;
                </div>
            {% endfor %}
            </div>
        </div>
        <div style="box-sizing:border-box;">
        {% for draggroup, drag_nos  in question.draggroups.items() %}
            <!-- draggroup {{draggroup}} : {{drag_nos}} -->
            <div style="box-sizing:border-box;">
            {% set maxsize = question.draggroups_size[draggroup] %}
            {% set width = maxsize.width + padding * 2 %}
            {% set height = maxsize.height + padding * 2 %}
            {% for no in drag_nos %}
                {% set drag = question.drags[no] %}                
                {% if drag.type == 'image' %}
                <img src="{{ drag.image }}" alt="None" style="height: {{height}}px;width: {{width}}px;padding: {{padding}}px;user-select:none;vertical-align:top;border-style:solid;box-sizing:border-box;background-color:rgb(255, 255, 255);margin:5px;cursor:move;border:1px solid rgb(0, 0, 0);display:inline-block;font:13px / 16.003px arial, helvetica, clean, sans-serif;" />
                {% else %}
                <div style="height: {{height}};width: {{width}};padding: {{padding}}px;user-select:none;box-sizing:border-box;background-color:rgb(220, 220, 220);border-radius:0px 0px 0px 0px;vertical-align:top;margin:5px;cursor:move;border:1px solid rgb(0, 0, 0);display:inline-block;font:13px / 16.003px arial, helvetica, clean, sans-serif;">{{ drag.text }}</div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
