<div
    style="color:rgb(0, 26, 30);background-color:rgb(231, 243, 245);border-color:rgb(184, 220, 226);position:relative;padding:12px 20px;margin-bottom:16px;border:0px solid rgb(184, 220, 226);border-radius:4px;box-sizing:border-box; width: fit-content; min-width: 800px;">
    <div style="margin-bottom:7.5px;box-sizing:border-box;display:block;">
        {{ question.statement }}
    </div>
    <div style="box-sizing:border-box;text-align:center;">
        <div style="box-sizing:border-box;display:inline-block;position:relative;">
            <img src="{{ question.background }}" />
        </div>
        <div style="box-sizing:border-box;">
            {% for drag in question.drags %}
            <span tabindex="0" style="box-sizing:border-box;display:none;position:relative;margin:10px;vertical-align:top;cursor:move;">
                <img
                    alt="" aria-hidden="true"
                    src="{{ icons_url }}/crosshairs.png"
                    style="font-size:16px;width: 16px;height:16px;margin:0px 8px 0px 0px;padding:0px;box-sizing:content-box;vertical-align:middle;border-style:none;position:absolute;left:-7px;top:-7px;" />
                <span
                    style="box-sizing:border-box;white-space:nowrap;margin:0px 5px;z-index:3;background-color:rgb(255, 255, 255);border:2px solid rgb(0, 0, 0);padding:5px;display:inline-block;zoom:1;border-radius:10px;color:rgb(0, 0, 0);opacity:0.6;">
                    {{ drag.text }}
                </span>
            </span>
            <span tabindex="0" style="user-select:none;box-sizing:border-box;position:relative;display:inline-block;margin:10px;vertical-align:top;cursor:move;">
                <img
                    alt="" aria-hidden="true"
                    src="{{ icons_url }}/crosshairs.png"
                    style="font-size:16px;width: 16px;height:16px;margin:0px 8px 0px 0px;padding:0px;box-sizing:content-box;vertical-align:middle;border-style:none;position:absolute;left:-7px;top:-7px;" />
                <span
                    style="box-sizing:border-box;white-space:nowrap;margin:0px 5px;z-index:3;background-color:rgb(255, 255, 255);border:2px solid rgb(0, 0, 0);padding:5px;display:inline-block;zoom:1;border-radius:10px;color:rgb(0, 0, 0);opacity:0.6;">
                    {{ drag.text }}
                </span>
            </span>
            {% endfor %}
        </div>
    </div>
</div>