<div
    style="color:rgb(0, 26, 30);background-color:rgb(231, 243, 245);border-color:rgb(184, 220, 226);position:relative;padding:12px 20px;margin-bottom:16px;border:0px solid rgb(184, 220, 226);border-radius:4px;box-sizing:border-box; width: fit-content; max-width: 800px; min-width: 800px;">
    <h4
        style="position:absolute;width: 1px;height:1px;padding:0px;margin:-1px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);white-space:nowrap;border:0px none rgb(0, 26, 30);font-size:22.5px;margin-bottom:-1px;font-weight:300;line-height:27px;margin-top:-1px;box-sizing:border-box;">
        Enunciado de la pregunta</h4><input type="hidden" name="q344491:1_:sequencecheck" value="1"
        style="overflow:visible;margin:0px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:15px;line-height:22.5px;box-sizing:border-box;" />
    <div style="margin-bottom:22.5px;box-sizing:border-box;">Si el multiplicador de un microprocesador es x6 y la
        velocidad del bus del sistema es de 333MHz, ¿a qué velocidad funciona el micro aproximadamente?<br
            style="box-sizing:border-box;" /></div>
    <fieldset
        style="margin:10.5px 0px 4.5px;overflow: auto;min-width:0px;padding:0px;border:0px none rgb(0, 26, 30);box-sizing:border-box;">
        <legend
            style="font-weight:400;font-size:15px;margin-bottom:8px;line-height:18px;display:block;width: 100%;max-width:100%;padding:0px;color:rgb(0, 26, 30);white-space:normal;box-sizing:border-box;">
            <span
                style="position:absolute;width: 1px;height:1px;padding:0px;margin:-1px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);white-space:nowrap;border:0px none rgb(0, 26, 30);box-sizing:border-box;">Pregunta
                1</span> Seleccione una:</legend>
        <div style="box-sizing:border-box;">
            <div style="box-sizing:border-box;display:flex;margin:4px 0px;align-items:flex-start;"><input type="radio"
                    name="q344491:1_answer" value="0" aria-labelledby="q344491:1_answer0_label"
                    style="box-sizing:border-box;padding:0px;overflow:visible;margin:4.8px 8px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:15px;line-height:22.5px;width: 14px;flex-shrink:0;" />
                <div data-region="answer-label" style="width: auto;display:flex;box-sizing:border-box;"><span
                        style="box-sizing:border-box;min-width:22.5px;">a. </span>
                    <div style="margin-left:4px;flex: 1 1 auto !important;box-sizing:border-box;">1GHz</div>
                </div>
            </div>
            <div style="box-sizing:border-box;display:flex;margin:4px 0px;align-items:flex-start;"><input type="radio"
                    name="q344491:1_answer" value="1" aria-labelledby="q344491:1_answer1_label"
                    style="box-sizing:border-box;padding:0px;overflow:visible;margin:4.8px 8px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:15px;line-height:22.5px;width: 14px;flex-shrink:0;" />
                <div data-region="answer-label" style="width: auto;display:flex;box-sizing:border-box;"><span
                        style="box-sizing:border-box;min-width:22.5px;">b. </span>
                    <div style="margin-left:4px;flex: 1 1 auto !important;box-sizing:border-box;">2 GHz</div>
                </div>
            </div>
            <div style="box-sizing:border-box;display:flex;margin:4px 0px;align-items:flex-start;"><input type="radio"
                    name="q344491:1_answer" value="2" aria-labelledby="q344491:1_answer2_label"
                    style="box-sizing:border-box;padding:0px;overflow:visible;margin:4.8px 8px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:15px;line-height:22.5px;width: 14px;flex-shrink:0;" />
                <div data-region="answer-label" style="width: auto;display:flex;box-sizing:border-box;"><span
                        style="box-sizing:border-box;min-width:22.5px;">c. </span>
                    <div style="margin-left:4px;flex: 1 1 auto !important;box-sizing:border-box;">55 MHz</div>
                </div>
            </div>
            <div style="box-sizing:border-box;display:flex;margin:4px 0px;align-items:flex-start;"><input type="radio"
                    name="q344491:1_answer" value="3" aria-labelledby="q344491:1_answer3_label"
                    style="box-sizing:border-box;padding:0px;overflow:visible;margin:4.8px 8px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:15px;line-height:22.5px;width: 14px;flex-shrink:0;" />
                <div data-region="answer-label" style="width: auto;display:flex;box-sizing:border-box;"><span
                        style="box-sizing:border-box;min-width:22.5px;">d. </span>
                    <div style="margin-left:4px;flex: 1 1 auto !important;box-sizing:border-box;">1.5 GHz</div>
                </div>
            </div>
        </div>
        <div aria-hidden="true"
            style="position:absolute;width: 1px;height:1px;padding:0px;margin:-1px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);white-space:nowrap;border:0px none rgb(0, 26, 30);box-sizing:border-box;">
            <input type="radio" name="q344491:1_answer" value="-1" aria-hidden="true" checked="checked"
                style="position:absolute;width: 1px;height:1px;padding:0px;margin:-1px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);white-space:nowrap;border:0px none rgb(0, 0, 0);box-sizing:border-box;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:15px;line-height:22.5px;" /><label
                for="q344491:1_answer-1" style="display:inline;margin-bottom:8px;box-sizing:border-box;"><a
                    tabindex="-1" role="button" href="#"
                    style="user-select:none;margin-top:-4px;margin-left:16px;font-weight:400;color:rgb(15, 108, 191);text-decoration:none solid rgb(15, 108, 191);cursor:pointer;display:inline-block;text-align:center;vertical-align:middle;background-color:rgba(0, 0, 0, 0);border:1px solid rgba(0, 0, 0, 0);padding:6px 12px;font-size:15px;line-height:22.5px;border-radius:4px;transition:color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;box-sizing:border-box;">Quitar
                    mi elección</a></label></div>
    </fieldset>
</div>